/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.title {
  font-size: 2rem;
  color: coral;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
